<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp-Register</title>
</head>


<body>

  <h1>Please Register:</h1>

  <form method="POST" action="/register">
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="Your email" style="width: 300px;margin:23px">
    </div>

    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Your password" style="width: 300px">
    </div>

    <div>
      <button type="submit">Register</button>
    </div>

    <div>
      Registered ? Click <a href="/login"style="color:red;font-weight:bold">HERE</a> to Login!
    </div>

    <div>
     Looking for Home page? click <a href="/urls" style="color:red;font-weight:bold"> HERE</a>
    </div>
  </form>

</body>

</html>